## Build outputs
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio folders
.vs/
.vscode/

## NuGet
*.nupkg
*.snupkg
packages/
.nuget/

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Rider
.idea/

## Windows image file caches
Thumbs.db
ehthumbs.db

## Folder config file
Desktop.ini

## Recycle Bin
$RECYCLE.BIN/

## VS Code
.vscode/

## macOS
.DS_Store
